
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public_html/bundles/
/public_html/ovh/
/var/
/vendor/
/public_old/
/public_html/photos/repas/*
!/public_html/photos/repas/.gitkeep
/public_html/photos/recettes/*
!/public_html/photos/recettes/.gitkeep
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

/app/node_modules/
/app/.expo/

