/*********************************************/
/*  BUTTON                                   */
/*********************************************/
button:disabled {
    cursor: not-allowed; /* curseur interdit */
    opacity: 0.7; /* petit effet visuel en plus */
}

.button {
    padding: 10px 30px;
    /* font-family: 'MuseoModerno'; */
    font-size: 18px;
    font-weight: 600;
    background-color: var(--button-bg);
    color: var(--button-color);
    border-radius: var(--border-radius);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    transition:
        color 0.3s ease,
        box-shadow 0.3s ease;
    width: fit-content;
}

.button:hover {
    background-color: var(--button-bg-hover);
    color: var(--button-color-hover);
    box-shadow: 0 4px 10px var(--button-shadow-hover);
}

.button:active {
    transform: translateY(0);
    box-shadow: 0 4px 10px var(--button-shadow-hover);
}

.button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    transform: none;
}

.buttonSvg {
    padding: 10px 20px 10px 10px;
}

.button a {
    color: #e0e0e0;
}

.buttonDisabled {
    cursor: not-allowed !important; /* curseur interdit */
    opacity: 0.7 !important; /* petit effet visuel en plus */
}

.buttonGris {
    background-color: #767676a0;
}

.button svg {
    width: 30px;
    margin-right: 10px;
}

.delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
    background-color: #000;
    cursor: pointer;
}

.delete svg {
    color: #fff;
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
    background-color: var(--accentuation-color);
    cursor: pointer;
}

.add svg {
    color: #fff;
}

.spinner {
    pointer-events: none;
    opacity: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.spinner .loader {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
    /* margin-right: 20px; */
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.button:hover:has(.spinner) {
    box-shadow:
        0 4px 8px rgba(219, 72, 7, 0.4),
        0 0 10px rgba(219, 72, 7, 0.3);
    color: #e0e0e0;
    background-image: linear-gradient(
        135deg,
        #b83805,
        #db4807 20%,
        #db4807 80%,
        #f05f14
    );
    background-color: var(--accentuation-color);
}

/*********************************************/
/*  RESPONSIVE TEL                           */
/*********************************************/
@media (max-width: 1100px) {
    .buttonSvg {
        padding: 5px 15px 5px 10px;
    }

    .button {
        font-size: 14px;
    }
}

@media (min-width: 1100px) {
    .buttonWeb {
        padding: 10px 30px;
        /* font-family: 'MuseoModerno'; */
        font-size: 20px;
        font-weight: 800;
        background-color: var(--accentuation-color);
        background-image: linear-gradient(
            135deg,
            #b83805,
            #db4807 20%,
            #db4807 80%,
            #f05f14
        );
        color: #e0e0e0;
        border-radius: var(--border-radius);
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        text-align: center;
        transition:
            color 0.3s ease,
            box-shadow 0.3s ease;
        box-shadow:
            0 4px 8px rgba(219, 72, 7, 0.4),
            0 0 10px rgba(219, 72, 7, 0.3);
    }

    .buttonWeb a {
        color: #e0e0e0;
    }

    .buttonWeb:hover {
        background-color: #f5520d; /* plus clair */
        box-shadow:
            0 6px 12px rgba(219, 72, 7, 0.6),
            0 0 20px rgba(219, 72, 7, 0.5);
        color: #fdf8f3;
    }

    .buttonWeb svg {
        width: 30px;
        margin-right: 10px;
    }

    .buttonWeb:hover:has(.spinner) {
        box-shadow:
            0 4px 8px rgba(219, 72, 7, 0.4),
            0 0 10px rgba(219, 72, 7, 0.3);
        color: #e0e0e0;
        background-image: linear-gradient(
            135deg,
            #b83805,
            #db4807 20%,
            #db4807 80%,
            #f05f14
        );
        background-color: var(--accentuation-color);
    }
}
