#pageContainer {
    margin: 20px;
    margin-top: calc(var(--hauteur_barre_menu) + 20px);
    overscroll-behavior: none;
}
#pageContainer:after {
    content: "";
    display: block;
}

#pageAllContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

/*********************************************/
/*  RESPONSIVE TEL                           */
/*********************************************/
@media (max-width: 1100px) {
    #pageContainer {
        margin: 10px;
    }
}

/*********************************************/
/*  RESPONSIVE TEL                           */
/*********************************************/
@media (max-width: 1100px) {
    #pageContainer {
        margin: 10px;
    }

    body #pageContainer {
        padding: 10px;
    }
}

@media (max-width: 400px) {
    body #pageContainer {
        padding: 0;
    }
}
